div#game2{
	width: 800px;
    background-color:#DF0101;
    margin:100px auto auto auto;
	
}
.bode2{
	background-color:#FA5858;
    color:rgba(0,0,0,1);
	
}
#vt2{
	
position:relative;
left:300px;
display:block;
	
}
#happy2{
position:relative;
left:220px;
display:block;
	
}