@charset="utf-8"

nav#menu ul{
	list-style:none;
	text-transform:uppercase;
	
	
}
nav#menu li{
	display:inline-block;
	background-color:#fff;
	padding: 10px;
	margin:2px;
	
	
}

div#face{
    width: 800px;
    background-color:#2ECCFA;
    margin:100px auto auto auto;
       
}
.dentro_do_corpo{
    background-color:#FA5858;
    color:rgba(0,0,0,1);
	
    
    
}
.seta{
position:absolute;
left:550px;
display:block;
	
	
}
#botao{
	
	display:block;
	left:100px;
	position:relative;
}
